body {
    font-family: 'Helvetica Neue',sans-serif;
    font-size: large;
    background-color: #bae7faae;
    margin: 20px;
    display: block;
    text-align: center;
}

h1 {
    color: #333;
}

button {
    padding: 15px 20px;
    background-color: #141bfe;
    color: white;
    border: none;
    cursor: pointer;
    font-size: medium;
    font-weight: bold;
}

button:hover {
    background-color: #0056b3;
}